* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(./images/BG.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
}

.card {
    background: linear-gradient(20deg, rgb(145, 145, 255), rgb(249, 166, 180));
    width: 90%;
    max-width: 600px;
    margin: 250px auto 0;
    border-radius: 10px;
    padding: 30px;

}

.card h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.card h3 {
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid black;
    border-radius: 4px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #0bbaef;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: rgb(7, 150, 7);
}

.incorrect {
    background: red;
}